#club-photos,
#photos-container {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

.wd-Figure--left.image,
.wd-Figure--left > a,
.wd-Figure--left > a > img {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 75%;
}

.wd-Figure--left > a > img {
  border: thin solid black;
}

#club-purpose,
#club-history {
  margin-bottom: 40px;
  margin-top: 40px;
}
