
#club-photos,
#photos-container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}
.wd-Figure--left.image,
.wd-Figure--left > a,
.wd-Figure--left > a > img {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wd-Figure--left > a > img {
    border: thin solid black;
}
#club-purpose,
#club-history
{
    margin-top: 40px;
    margin-bottom: 40px;
}
#Officers{
    text-align: left;
}
#Officers h2{
    text-align: left;
    margin-bottom: -10px;
}
#Officers a{
    color: white;
    text-decoration: none;
}

@media (min-width: 300px) {
    #Officers hr{
        width: 50%;
        margin-top: -5px;
        margin-bottom: -1px;
    }
}
@media (min-width: 925px) {
    #Officers hr{
        width: 100%;
        margin-top: -5px;
        margin-bottom: -1px;
    }
}
