.btn-circle {
  border-radius: 30px;
  font-size: 20px;
  height: 49px;
  line-height: 2.00;
  padding: 5px 0;
  text-align: center;
  width: 49px;
}

.btn-circle-micro {
  border-radius: 30px;
  font-size: 13px;
  height: 19px;
  line-height: 0.1;
  padding: 1px 0;
  text-align: center;
  width: 19px;
}

.btn-circle-sm {
  border-radius: 30px;
  font-size: 20px;
  height: 35px;
  line-height: 1.65;
  padding: 2px 0;
  text-align: center;
  width: 35px;
}

.btn-circle-lg {
  border-radius: 70px;
  font-size: 30px;
  height: 79px;
  line-height: 2.00;
  padding: 13px 0;
  text-align: center;
  width: 79px;
}
