.bg {
  background: url('../../_images/newbackground.jpg') no-repeat center center;
  background-size: cover;
  height: 350px;
  left: 0;
  position: relative;
  top: 50px;
  width: 100%;
  z-index: -1;
}

.bg img {
  bottom: -5px;
  max-height: 50px;
  position: absolute;
  width: 100%;
}

.jumbotron {
  background: transparent;
  color: white;
  height: 0;
  margin-bottom: 0;
  position: relative;
  text-shadow: black .3em .3em .3em;
}

.jumbotron .container {
  left: 10%;
  position: absolute;
  top: -200px;
}
