#past-Officers {
  margin-bottom: 40px;
  margin-top: 40px;
}

#past-Officers #past-Officers-list {
  text-align: center;
}

#past-Officers img {
  border-radius: 15px;
}

.glyphicon {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
}

.backTo {
  text-align: center;
}

.backTo a {
  color: white;
}
